<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjc.find.dao.ArticleImgMapper">
    <insert id="batchInsert">
        INSERT into tb_article_img
        (article_img_addr,article_id) values
        <foreach collection="articleImgList" separator="," item="articleImg" index="index">
            (#{articleImg},#{articleId})
        </foreach>
    </insert>


</mapper>
