<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjc.find.dao.MessageMapper">


    <select id="selectMessageOne" parameterType="Long" resultType="com.yjc.find.pojo.Message">
        select tm.*,send.nick_name as sendName,send.user_img_addr as send_img_addr,receive.nick_name as receiveName,receive.user_img_addr
        as receive_img_addr
        from tb_message tm
        left join tb_user send on tm.send_id = send.id
        where tm.id = #{id}
    </select>
    <select id="selectMessagePage" parameterType="java.util.Map" resultType="com.yjc.find.pojo.Message">
        select tm.*,send.nick_name as sendName,send.user_img_addr as send_img_addr,receive.nick_name as receiveName,receive.user_img_addr
        as receive_img_addr
        from tb_message tm
        left join tb_user send on tm.send_id = send.id
        left join tb_user receive on tm.receive_id = receive.id
        where 1=1
        <if test="receiveId!=null and receiveId!=''">
            and tm.receive_id = #{receiveId}
        </if>
        <if test="sendId!=null and sendId!=''">
            and tm.send_id = #{sendId}
        </if>
        <if test="isRead!=null and isRead!=''">
            and tm.is_read = #{isRead}
        </if>
        ORDER BY tm.create_date desc
        limit #{beginIndex},#{limit}
    </select>
    <select id="selectMessageCount" parameterType="java.util.Map" resultType="Integer">
        select count(*)
        from tb_message tm
        left join tb_user send on tm.send_id = send.id
        left join tb_user receive on tm.receive_id = receive.id
        where 1=1
        <if test="receiveId!=null and receiveId!=''">
            and tm.receive_id = #{receiveId}
        </if>
        <if test="sendId!=null and sendId!=''">
            and tm.send_id = #{sendId}
        </if>
        <if test="isRead!=null and isRead!=''">
            and tm.is_read = #{isRead}
        </if>
    </select>
</mapper>
