<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjc.find.dao.SysMessageMapper">
    <select id="selectSysMessage" parameterType="Long" resultType="com.yjc.find.pojo.SysMessage">
        select tsm.*
        from tb_sys_message tsm
       where  tsm.id = #{id}
    </select>
    <insert id="batchInsert">
        insert into tb_sys_message(receive_id,title,content) values
        <foreach collection="list" item="id" index="index" separator=",">
            (#{id},#{sysMessage.title},#{sysMessage.content})
        </foreach>
    </insert>
    <select id="selectSysPage" parameterType="java.util.Map" resultType="com.yjc.find.pojo.SysMessage">
        select tm.*
        from  tb_sys_message tm
        where 1=1
        and tm.receive_id = #{receiveId}
        <if test="isRead!=null and isRead!=''">
            and tm.is_read = #{isRead}
        </if>
        ORDER BY tm.create_date desc
        limit #{beginIndex},#{limit}
    </select>
    <select id="selectSysCount" parameterType="java.util.Map" resultType="int">
        select count(*) from tb_sys_message tm
        where 1=1
        and tm.receive_id = #{receiveId}
        <if test="isRead!=null and isRead!=''">
            and tm.is_read = #{isRead}
        </if>
    </select>
</mapper>