<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjc.find.dao.ThankLetterMapper">
    <select id="selectLetter" resultType="com.yjc.find.pojo.ThankLetter" parameterType="Long">
        select ttl.*,tu.nick_name as send_name,tu.user_img_addr as send_img
        from tb_thank_letter ttl
        left join tb_user tu on ttl.send_id = tu.id
        where ttl.id = #{id}
    </select>
    <select id="selectLetterPage" resultType="com.yjc.find.pojo.ThankLetter" parameterType="java.util.Map">
        select ttl.*,tu.nick_name as send_name,tu.user_img_addr as send_img
        from tb_thank_letter ttl
        left join tb_user tu on ttl.send_id = tu.id
        where 1=1 
        <if test="title!=null and title!=''">
            and ttl.title like CONCAT('%',#{title},'%')
        </if>
        <if test="status!=null and status!=''">
            and ttl.status = #{status}
        </if>
        ORDER BY ttl.create_date desc
        limit #{beginIndex},#{limit}
    </select>
    <select id="selectLetterCount" parameterType="java.util.Map">
        select count(*)
        from tb_thank_letter ttl
        left join tb_user tu on ttl.send_id = tu.id
        where 1=1
        <if test="title!=null and title!=''">
            and ttl.title like CONCAT('%',#{title},'%')
        </if>
        <if test="status!=null and status!=''">
            and ttl.status = #{status}
        </if>
    </select>
</mapper>